.skills{
   
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 15%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    

}
.skills div{
    width:200px;
  
    text-align: center;
    
}