    .skills {
        width: 50%;
        height: 80%;
        top: 0;
        padding-top: 15%;
        padding-bottom: 8%;
        margin-bottom: 8%;
        margin-left: 0;
        position: absolute;
        right: 0;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding-bottom: 20%;
    }
    
    .skills div {
        width: 150px;
        height: 150px;
        margin-right: 20px;
        text-align: center;
        position: relative;
        display:inline;

    }
    
    .skills div:hover img {
        transform: scale(0.8);
        opacity: 0.5;
    }
    
    .skills div img {
        width: 150px;
        height: 150px;
        transition: all 0.3s ease-in-out;
    }
    
    .skills div span {
        position: absolute;
        left: 30%;
        top: 40%;
        font-size: 24px;
        font-weight: 400;
        color: #ffd700;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    
    .skills div:hover span {
        opacity: 1;
        transform: scale(1.2);
    }