html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font: 300 11px/1.4 'Helvetica Neue', sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #022c43 !important;
    overflow: hidden;
    display: block;
}

button {
    outline: none !important;
    border: none !important;
    background: #022c43 !important;
}

/* .ant-popover-content{
    background: #ffd700 !important;
}
.ant-popover-inner-content{
    background: #ffd700 !important;
}


.ant-popover-arrow-content{
    background-color: #ffd700 !important;
   
   
}
.ant-popover-arrow-content span{
    background-color: #ffd700 !important;
   
}

.ant-popover-arrow-content span:before{
    background-color: #a71919;
    
} */